/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Oct 9, 2023, 9:18:32 PM
    Author     : admin
*/
content {
    padding-top: 80px;
    background-color: #f8f9fa;
    margin-bottom: 0;
    width: 100%;
    margin-left: 0px;
}

