/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Oct 18, 2023, 10:27:41 PM
    Author     : admin
*/

.manageTest {
    min-height: calc(100vh - 80px);
    padding-top: 20px;
}

.manageTest div {
    background-color: #ffffff;
    padding: 30px;
    margin-bottom: 10px;
}

.manageTest__title {
    display: flex;
    align-items: center;
    border-top: 5px solid blueviolet;
    flex-wrap: wrap;
}

.manageTest__title nav {
    width: 80%;
}
.manageTest__title nav ol {
    background-color: #ffffff;
}

.manageTest__content ul {
    list-style: none;
}

.manageTest__content ul li {
    margin: 20px;
}

.manageTest__button--add {
    color: blueviolet;
    cursor: pointer;
}

.manageTest__button--add:hover {
    color: blue;
}

.manageTest__button--add i {
    padding: 10px;
}

.manageTest__content a{
    color: blueviolet;
    display: inline;
}