/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Oct 24, 2023, 8:27:40 PM
    Author     : admin
*/

.resultOfTest {
    min-height: calc(100vh - 80px);
    padding-top: 20px;
}

.resultOfTest div {
    background-color: #ffffff;
    padding: 30px;
    margin-bottom: 10px;
}

.resultOfTest__title {
    display: flex;
    align-items: center;
    border-top: 5px solid blueviolet;
    flex-wrap: wrap;
}

.resultOfTest__title nav {
    width: 80%;
}
.resultOfTest__title nav ol {
    background-color: #ffffff;
}

.resultOfTest__content ul {
    list-style: none;
}

.resultOfTest__content ul li {
    margin: 20px;
}

.resultOfTest__content a{
    color: blueviolet;
    display: inline;
}

.resultOfTest__content div {
    font-size: 26px;
}